<h2>{{ __SELF__.participant.group.name }}</h2>
<p><em>{{ __SELF__.participant.name }}</em>, score: {{ __SELF__.participant.score }}</p>
<hr>
{% if __SELF__.round %}
    <h4>Current round</h4>

    <p>Initiator: {{ __SELF__.round.initiatingParticipant.name }}</p>
    <p>Expires at: {{ __SELF__.round.expires_at|date('H:i:s') }}</p>
    <p>Is finished: {{ __SELF__.round.is_finished ? 'Yes' : 'No' }}</p>

    {% if __SELF__.round.designatedParticipant %}
        {% if __SELF__.round.designatedParticipant.id == __SELF__.participant.id %}
            <p>Designated participant: You</p>
        {% else %}
            <p>Designated participant: {{ __SELF__.round.designatedParticipant.name }}</p>
        {% endif %}
    {% endif %}

    <hr>

    <h4>Participants</h4>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-sm-6 col-md-4">Participant</th>
            <th class="col-sm-6 col-md-8">Beverage</th>
        </tr>
        </thead>
        {% for participant in __SELF__.participants %}
            <tr>
                <td>{{ participant.name }}</td>
                <td>{{ __SELF__.beverages[participant.pivot.beverage_id] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No participants yet...</td>
            </tr>
        {% endfor %}
    </table>

    {% if not __SELF__.round.designatedParticipant %}
        {% if not __SELF__.participants.contains('id', __SELF__.participant.id) %}
            <h4>What would you like to drink?</h4>
            <form data-request="{{ __SELF__ ~ '::onJoinRound' }}"
                  data-request-flash>
                <input type="hidden" name="round_id" value="{{ __SELF__.round.id }}">
                <div class="row">
                    <div class="col-sm-6 col-md-10">
                        <select class="form-control"
                                name="beverage_id">
                            {% for beverageGroup in __SELF__.beverageGroups %}
                                <optgroup label="{{ beverageGroup.name }}">
                                    {% for beverage in beverageGroup.beverages %}
                                        <option value="{{ beverage.id }}" {% if __SELF__.participant.defaultBeverage.id == beverage.id %} selected{% endif %}>
                                            {{ beverage.name }}
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <button type="submit" class="btn btn-block btn-primary" data-attach-loading>
                            Join
                        </button>
                    </div>
                </div>
            </form>
            {% if __SELF__.round.initiatingParticipant.id == __SELF__.participant.id %}
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <button class="btn btn-block btn-danger"
                                data-request="{{ __SELF__ ~ '::onCancelRound' }}"
                                data-request-data="round_id: {{ __SELF__.round.id }}"
                                data-attach-loading>
                            <span class="icon icon-trash"></span> Cancel round
                        </button>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <button class="btn btn-block btn-danger"
                            data-request="{{ __SELF__ ~ '::onLeaveRound' }}"
                            data-request-data="round_id: {{ __SELF__.round.id }}"
                            data-attach-loading>
                        Leave round
                    </button>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if __SELF__.round.designatedParticipant.id == __SELF__.participant.id %}
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <button class="btn btn-block btn-success"
                        data-request="{{ __SELF__ ~ '::onFinishRound' }}"
                        data-request-data="round_id: {{ __SELF__.round.id }}"
                        data-attach-loading>
                    <span class="icon icon-trophy"></span> Finish and collect your score
                </button>
            </div>
        </div>
    {% endif %}

{% else %}
    <button class="btn btn-primary"
            data-request="{{ __SELF__ ~ '::onInitiateRound' }}"
            data-request-flash
            data-attach-loading>
        <span class="icon icon-coffee"></span> Initiate new Coffee Round
    </button>
{% endif %}
