{% if __SELF__.round and not __SELF__.round.designatedParticipant %}
    {% if not __SELF__.participants.contains('id', __SELF__.participant.id) %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>{{ __SELF__.round.initiatingParticipant.name }}: &ldquo;Wat wil je drinken?&rdquo;</h3>
                <form data-request="{{ __SELF__ ~ '::onJoinRound' }}"
                      data-request-flash>
                    <input type="hidden" name="roundId" value="{{ __SELF__.round.id }}">
                    {% partial __SELF__ ~ '::_select-beverage' %}
                    <button type="submit" class="btn btn-block btn-primary btn-lg" data-attach-loading>
                        <span class="icon icon-thumbs-up"></span> Doe mee
                    </button>
                </form>
            </div>
        </div>
        <br>
        <hr>
    {% endif %}
{% endif %}
