{% if __SELF__.round %}
    <h4>Current round</h4>

    <p>Initiator: {{ __SELF__.round.initiatingParticipant.name }}</p>
    {% if __SELF__.round.designatedParticipant %}
        <p>Is finished: {{ __SELF__.round.is_finished ? 'Yes' : 'No' }}</p>
    {% else %}
        <p>Expires in: <span id="clock" data-date="{{  __SELF__.round.expires_at.format('Y/m/d H:i:s') }}"></span></p>
    {% endif %}

    {% if __SELF__.round.designatedParticipant %}
        {% if __SELF__.round.designatedParticipant.id == __SELF__.participant.id %}
            <p>Designated participant: You</p>
        {% else %}
            <p>Designated participant: {{ __SELF__.round.designatedParticipant.name }}</p>
        {% endif %}
    {% endif %}

    {% if __SELF__.round.initiatingParticipant.id == __SELF__.participant.id
        and not __SELF__.round.designatedParticipant %}
        <button class="btn btn-primary pull-right"
                data-request="{{ __SELF__ ~ '::onCancelRound' }}"
                data-request-data="roundId: {{ __SELF__.round.id }}"
                data-attach-loading>
            <span class="icon icon-ban-circle"></span> Cancel
        </button>
    {% endif %}

    {% if __SELF__.participants.contains('id', __SELF__.participant.id)
        and not __SELF__.round.designatedParticipant %}
        <button class="btn btn-danger"
                data-request="{{ __SELF__ ~ '::onLeaveRound' }}"
                data-request-data="roundId: {{ __SELF__.round.id }}"
                data-attach-loading>
            <span class="icon icon-frown"></span> Leave
        </button>
    {% endif %}

    {% if __SELF__.participants|length > 1
        and not __SELF__.round.designatedParticipant %}
        <button class="btn btn-success"
                data-request="{{ __SELF__ ~ '::onServeRound' }}"
                data-request-data="roundId: {{ __SELF__.round.id }}"
                data-attach-loading>
            <span class="icon icon-heart"></span> Serve now
        </button>
    {% endif %}

    {% if __SELF__.round.designatedParticipant.id == __SELF__.participant.id %}
        <button class="btn btn-success"
                data-request="{{ __SELF__ ~ '::onFinishRound' }}"
                data-request-data="roundId: {{ __SELF__.round.id }}"
                data-attach-loading>
            <span class="icon icon-trophy"></span> Finish and collect your score
        </button>
    {% endif %}

    <div class="clearfix"></div>

    <hr>

    {% if __SELF__.participants|length < 2 %}
        <p>Waiting for someone to join the round...</p>
        <hr>
    {% endif %}

    {% if __SELF__.participants|length > 1 %}
    <h4>Participants</h4>
    <table class="table table-bordered table-striped">
        {% for participant in __SELF__.participants %}
            <tr>
                <td class="col-sm-6">
                    {{ participant.name }}
                    {% if participant.id == __SELF__.participant.id %}
                    <small class="label label-primary">You</small>
                    {% endif %}
                </td>
                <td class="col-sm-6">{{ __SELF__.beverages[participant.pivot.beverage_id] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endif %}
