{%- spaceless -%}
<select class="form-control"
        name="beverageId">
    {%- if __SELF__.participant.lastBeverage -%}
        <optgroup label="Your last beverage">
            <option value="{{ __SELF__.participant.lastBeverage.id }}">
                {{- __SELF__.participant.lastBeverage.name }} (last)
            </option>
        </optgroup>
    {%- endif -%}
    {%- for beverageGroup in __SELF__.beverageGroups -%}
        <optgroup label="{{ beverageGroup.name }}">
            {%- for beverage in beverageGroup.beverages -%}
                <option value="{{ beverage.id }}">
                    {{- beverage.name -}}
                </option>
            {%- endfor -%}
        </optgroup>
    {%- endfor -%}
</select>
{%- endspaceless -%}
