{% if not __SELF__.round %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal"
                  data-request="{{ __SELF__ ~ '::onInitiateRound' }}"
                  data-request-flash>
                <div class="form-group">
                    <h3>&ldquo;Wat wil je drinken?&rdquo;</h3>
                    {% partial __SELF__ ~ '::_select-beverage' %}
                </div>
                <div class="form-group text-center">
                    <button type="submit"
                            class="btn btn-block btn-primary btn-lg"
                            data-attach-loading>
                        <span class="icon icon-coffee"></span>&nbsp;
                        Start nieuw koffierondje!
                    </button>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group form-inline text-center">
                    <label>
                    Geef je collega's
                    <select name="minutes" class="form-control form-control-sm form-inline">
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    minuten om hun drank te kiezen.
                    </label>
                </div>
            </form>
        </div>
    </div>
{% endif %}
