<form class="form-horizontal"
      data-request="{{ __SELF__ ~ '::onJoin' }}">
    <div class="form-group">
        <label class="control-label">
            Join Coffee Group as participant:
        </label>
        <select class="form-control" name="participant">
            {% for participant in __SELF__.participants %}
                <option value="{{ participant.id }}">{{ participant.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-primary" type="submit">
            Join
        </button>
    </div>
</form>
