<form class="form-horizontal"
      data-request="{{ __SELF__ ~ '::onJoin' }}">
    <div class="form-group">
        <label class="control-label">
            Join Coffee Group as participant:
        </label>
        <select class="form-control" name="participant">
            {% for group in __SELF__.groups %}
                <optgroup label="{{ group.name }}">
                    {% for participant in group.participants %}
                        <option value="{{ participant.id }}">{{ participant.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-primary" type="submit">
            Join
        </button>
    </div>
</form>
