<form class="form-horizontal"
      method="post"
      data-request="{{ __SELF__ ~ '::onSaveProfile' }}"
      data-request-flash
      data-request-validate>
    <div id="profileFormElements">
        {% partial __SELF__ ~ '::_form-elements' %}
    </div>
    <div class="form-group">
        <button type="submit"
                class="btn btn-primary"
                data-attach-loading>
            Profiel opslaan
        </button>
        <a href="{{ __SELF__.properties.clientPage|page }}" class="btn btn-link">
            Ga terug
        </a>
    </div>
</form>
